<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My suite">
    <listeners>
        <listener class-name="utils.InfluxDBListener" />
    </listeners>
    <test name="Test1">
        <classes>
            <class name="tests.CreateGoogleAccount"/>
<!--            <class name="tests.CreateGoogleAccount1"/>-->
        </classes>
    </test>
</suite>
